<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%include "scm/__include.html"%}
    <title>Shop</title>
</head>
<body x-data="{}">
    <div x-ref="x_new_tenant_modal" id="new_tenant_modal" class="modal" tabindex="-1"></div>
    <div class="row">
        <div class="col">
            branding
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{form}}
        </div>
    </div>
</body>
</html>