<input class="form-control text-white bg-dark" type="text" style="width:40px;height:40px;text-align:center;" size = "1" readonly value="S"></input>
<input class="form-control text-white bg-dark" type="text" style="width:40px;height:40px;text-align:center;" size = "1" readonly value="M"></input>
<input class="form-control text-white bg-dark" type="text" style="width:40px;height:40px;text-align:center;" size = "1" readonly value="P"></input>
<input class="form-control text-white bg-dark" type="text" style="width:40px;height:40px;text-align:center;" size = "1" readonly value="L"></input>
<input class="form-control bg-white" type="text" style="width:40px;height:40px;text-align:center;" size = "1" readonly value="S"></input>
<input class="form-control bg-white" type="text" style="width:40px;height:40px;text-align:center;" size = "1" readonly value="H"></input>
<input class="form-control bg-white" type="text" style="width:40px;height:40px;text-align:center;" size = "1" readonly value="O"></input>
<input class="form-control bg-white" type="text" style="width:40px;height:40px;text-align:center;" size = "1" readonly value="P"></input>

