{%load tags%}
{%load django_bootstrap5%}

{% bootstrap_pagination page_obj %}

{% comment %} <ul class="pagination">
    {% if page_obj.has_previous %}
        <li class="page-item">
            {% if "?" in request.get_full_path %}
                <a class="page-link" href="{{request.path}}?{% url_transform request page=page_obj.previous_page_number %}"><i class="bi bi-arrow-left-square-fill"></i></a>
            {%else%}
                <a class="page-link" href= "?page={{page_obj.previous_page_number}}"><i class="bi bi-arrow-left-square-fill"></i></a>
            {%endif%}
        </li>
    {%else%}
        <li class="page-item disabled"><a class="page-link" href="#"><i class="bi bi-arrow-left-square-fill"></i></a></li>
    {% endif %}

    <li class="page-item"> 
        <span class="page-link disabled">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    </li> 

    {% if page_obj.has_next %}
        <li class="page-item">
            {% if "?" in request.get_full_path %}
                <a class="page-link" href = "{{request.path}}?{% url_transform request page=page_obj.next_page_number %}"><i class="bi bi-arrow-right-square-fill"></i></a>
            {%else%}
                <a class="page-link" href = "?page={{page_obj.next_page_number}}"><i class="bi bi-arrow-right-square-fill"></i></a>         
            {%endif%}
        </li>
    {%else%}
        <li class="page-item disabled"><a class="page-link" href="#"><i class="bi bi-arrow-right-square-fill"></i></a></li>
    {% endif %}
</ul> {% endcomment %}
