    {%load tags%}
    <div class="modal-dialog" role="document" id="add_modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a {{model_name}}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    {% csrf_token %}
                    {{form}}
                    {%include "scm/__messages.html"%}
                    <button type="button" hx-trigger="click" hx-encoding="multipart/form-data" hx-post={{request.path}} hx-target="#add_modal" hx-swap="outerHTML" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
