{%load tags%}
<div class="col m-0 p-0">
    <form>
        <div class="row">
            {% csrf_token %}
            <div class="col text-end">
                Delete {{instance}} ?
            </div>
            <div class="col">
                <button hx-trigger="click" hx-post="{% url delete_url id=instance.id %}" hx-target="#{{edit_record_n}}" hx-swap="innerHTML" hx-encoding="multipart/form-data" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></button>
                <button class="btn btn-sm btn-secondary" x-on:click="$event.preventDefault();window.location.reload()"><i class="bi bi-arrow-counterclockwise"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {%include "scm/__messages.html"%}
            </div>
        </div>
    </form>
</div>