{%extends "scm/edit_success_base.html"%}

{%load tags%}
{%block action_url%}    
<a up-target="#{{edit_record_n}}" href="{% url edit_url tenant_name=tenant_name id=form.instance.id %}?next={{success_url}}" class="btn btn-sm btn-primary"><i class="bi bi-pencil-fill"></i></a>
<a href="{%url delete_url tenant_name=tenant_name id=form.instance.id %}?next={{success_url}}" up-target="#{{edit_record_n}}" class="btn btn-sm btn-primary"><i class="bi bi-trash-fill"></i></a>
{%if shop_url%}
    {% get_tenant_name form.instance.tenant_id as tenant_name%}
    <a href="{% url shop_url tenant_name=tenant_name shop_name=form.instance.description%}" class="btn btn-sm btn-primary"><i class="bi bi-shop"></i></i></a>
{%endif%}
{%endblock%}