{%load tags%}
{% for field in form.visible_fields %}
    <div class="col-lg col-sm-6 d-lg-none fw-bold my-1">
        {{field.label}}
    </div>
    <div class="col-lg col-sm-6 my-1 text-break">
        {%get_attribute form.instance field.name%}
    </div>
{%endfor%}
    <div class="col-lg col-sm-6 my-1">
        <a hx-get={% url edit_url id=form.instance.id %} hx-swap="innerHTML" hx-target="#{{edit_record_n}}" class="btn btn-sm btn-primary"><i class="bi bi-pencil-fill"></i></a>
        <a hx-get="{% url delete_url id=form.instance.id%}" hx-swap="innerHTML" hx-target="#{{edit_record_n}}" class="btn btn-sm btn-primary"><i class="bi bi-trash-fill"></i></a>
    </div>