{%load tags%}
{% comment %} <div class="modal-dialog" role="document" id="edit_modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit a {{model_name}}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"> {% endcomment %}
                <div class="col m-0 p-0">
                    <form >
                        <div class="row m-0 p-0">
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field.errors }}
                                {{ hidden_field }}
                            {% endfor %}

                            {%for field in form.visible_fields%}
                            <div class="col-lg col-sm-6 d-lg-none fw-bold my-1">
                                {{field.label}}
                            </div>
                            <div class="col-lg col-sm-6 my-1 text-break">
                                {{ field }}
                                {{ field.errors }}
                        
                                {% if field.help_text %}
                                <span class="helptext">{{ field.help_text|safe }}</span>
                                {% endif %}
                            </div>
                            {%endfor%}
                            <div class="col-lg col-sm-6 my-1">
                                <button type="button" hx-trigger="click" hx-post={%url edit_url id=form.instance.id%} hx-target="#{{edit_record_n}}" hx-swap="innerHTML" hx-encoding="multipart/form-data" class="btn btn-sm btn-primary"><i class="bi bi-check"></i></button>
                                <button class="btn btn-sm btn-secondary" x-on:click="$event.preventDefault();window.location.reload()"><i class="bi bi-arrow-counterclockwise"></i></button>

                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col m-0 p-0">
                        {% if messages %}
                            {%include "scm/__messages.html"%}
                        {% endif %}
                            </div>
                        </div>



                    </form>
                </div>
            {% comment %} </div>
        </div>
    </div> {% endcomment %}

    


