{%extends "scm/base.html"%}

{% load tags %}

{%block title%}{%get_plural_verbose_model_name page_obj.object_list.model%}{%endblock%}

{%block content%}


<div class="row mb-2 pb-2 justify-content-center">
    <div class="col text-center">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link d-flex" x-ref="filter_trigger" id="nav-filter-tab" data-bs-toggle="tab" data-bs-target="#filter" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="bi bi-funnel-fill"></i><span class="d-none d-lg-block px-2">Filter</span></button>
                <button class="nav-link d-flex" x-ref="action_trigger" id="nav-action-tab" data-bs-toggle="tab" data-bs-target="#action" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="bi bi-gear-fill"></i><span class="d-none d-lg-block px-2">Action</span></button>        
            </div>
        </nav>
    </div>
</div>

<div class="tab-content" id="nav-tabContent">
    <div class="container border p-2 mx-2 tab-pane fade" id ="action" x-ref="action_tab">
        <div class="row">
            <div class="col text-end">
                <button class = "btn" x-on:click="$refs.action_trigger.classList.remove('active');$refs.action_tab.classList.remove('active');">
                    <i class="bi bi-arrow-bar-up"></i>
                </button>
            </div>
        </div>
        
        {% with add_url="SCM.Location:add_location" upload_url="SCM.Location:upload_location" %}     
        <div class="row">
            <div class="col-lg-3 col-sm-12 my-1 ">
                <button hx-get={%url add_url%} hx-swap="innerHTML" hx-target="#new_tenant_modal" class="btn btn-primary w-100" @htmx:after-on-load.camel="setTimeout(function() {my_modal=new bootstrap.Modal($refs.x_new_tenant_modal);my_modal.show();}, 20);">Add</button>
            </div>
            <div class="col-lg-3 col-sm-12 my-1">
                <button type="button" class="btn btn-danger w-100">Delete Filtered</button>
            </div>
            <div class="col-lg-3 col-sm-12 my-1">
                <button type="button" hx-get={%url upload_url%} hx-swap="innerHTML" hx-target="#new_tenant_modal" class="btn btn-secondary w-100" @htmx:after-on-load.camel="setTimeout(function() {my_modal=new bootstrap.Modal($refs.x_new_tenant_modal);my_modal.show();}, 20);">Upload</button>
            </div>
            <div class="col-lg-3 col-sm-12 my-1">
                <button type="button" class="btn btn-secondary w-100">Download</button>
            </div>
        </div>
        {%endwith%}
    </div>
    
    <form class="container tab-pane fade border p-2 mx-2" x-ref="filter_tab" id="filter" method="GET">
        <div class="row">
            <div class="col text-end">
                <button class = "btn" x-on:click="$refs.filter_tab.classList.remove('active');$refs.filter_trigger.classList.remove('active');">
                    <i class="bi bi-arrow-bar-up"></i>
                </button>
            </div>
        </div>
        
        {{filter.form}}
        
        <div class="row mt-2 pt-2">
            <div class="col-lg-3 col-sm-12">
                <div><button class="btn btn-primary w-100" style="size:20px">Filter</button></div>
            </div>
        </div>
    </form>
</div>

{% with add_url="SCM.Location:add_location" edit_url="SCM.Location:edit_location" %}     
<div class="container">
    <div class="row">
        {% get_list_from_queryset page_obj.object_list as obj%}
        {% for instance in obj %}
        {%if forloop.first%}
        {%for field,value in instance.fields.items%}
        {%if not forloop.first%}
        <div class="col fw-bold mx-1 p-2 d-none d-lg-block">{% get_verbose_field_name page_obj.object_list.model field%} </div>
        {%endif%}
        {%endfor%}
        {%endif%}
        {%endfor%}
        <div class="col fw-bold mx-1 p-2 d-none d-lg-block">Actions</div>
    </div>
    
    <div class="row">
        <div class="col border-bottom d-none d-lg-block">
        </div>
    </div>

    {% get_list_from_queryset page_obj.object_list as obj%}
    {% for instance in obj %}
    <div class="row py-1 border-bottom rounded {% if forloop.counter|divisibleby:2 %}bg-white{% else %}bg-light{% endif %}">
    {%for field,value in instance.fields.items%}
    {%if not forloop.first%}
        <div class="col-lg col-sm-6 d-lg-none fw-bold my-1">{% get_verbose_field_name page_obj.object_list.model field%}</div>
        <div class="col-lg col-sm-6 my-1">{{value}}</div>
    {%endif%}
    {%endfor%}
        <div class="col-lg col-sm-6 d-lg-none fw-bold my-1">Actions</div>
        <div class="col-lg col-sm-6 my-1">
            <a hx-get="{% url edit_url location_id=instance.pk%}" hx-swap="innerHTML" hx-target="#new_tenant_modal" class="btn btn-sm btn-primary" @htmx:after-on-load.camel="setTimeout(function() {my_modal=new bootstrap.Modal($refs.x_new_tenant_modal);my_modal.show();}, 20);"><i class="bi bi-pencil-fill"></i></a>
            <a href="" class="btn btn-sm btn-primary"><i class="bi bi-trash-fill"></i></a>
        </div>
    </div>
    {% endfor %}

</div>
{%endwith%}
<div class="container">
<div class="row my-3">
    <div class="col d-flex flex-column align-items-center">
        {%include "location/__pagination.html"%}
    </div>
</div>
</div>
{%endblock%}
    