<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Register</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="container w-100">
        <div class="row align-items-center">
          <div class="col-12 align-items-center">
            <form method="POST" hx-post={{request.path}} hx-target="#new_tenant_modal">
              {% csrf_token %}
              <div class="form-group">
                {{tenant_form}}
                {{user_form}}
                <center><button class="btn btn-primary">Create</button></center>
                {%include "scm/__messages.html"%}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
