{% extends "scm/base_with_grid.html" %}

{% load i18n %}

{%load django_bootstrap5%}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container m-3 p-3">
    <div class="row justify-content-center align-items-center my-3">
        <div class="col-lg-9 col-sm-12">
            <div class="row border-bottom my-3">
                <div class="col">
                    <div class="h4">{% trans "Change Password" %}</div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col">
                    <form method="POST" action="{%url 'SCM.Account:change_password' tenant_name=request.tenant%}" class="password_change">
                        {% csrf_token %}
                        {% bootstrap_form form layout="horizontal" %}
                        <button class="btn btn-primary w-100" type="submit" name="action">{% trans "Change Password" %}</button>
                    </form>
                </div>
            </div>

            <div class="row my-3">
                <div class="col">
                    {%include "scm/__messages.html"%}
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock content%}